.capitalize {
    text-transform: capitalize;
    }
    /* Buttons & Links */
    a {
        text-decoration: none; 
        color: rgb(70, 43, 18);
    }
    

    a:hover {
    color: rgb(255, 0, 64)
    }
    /*
    Table
    */
    table {
    border-collapse: collapse;
    width: 100%;
    }


table {
    border-collapse: collapse; width: 100%;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #000000;
    }
    tr:hover {
    background-color: #6fb6a6;
    }
    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #19413d;
    color: white;
}